@model ECommerceWebsite.Models.UserViewModel

@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div id="user-create-container-body">
    <div class="user-create-container">
        <h1>Create User</h1>

        <div class="create-user-row">
            <div class="create-user-form-container">
                @if (ViewBag.Message != null)
                {
                        <div class="create-message bg-success text-white">@ViewBag.Message</div>
                }

                <form asp-action="SignUp">
                    <div asp-validation-summary="ModelOnly" class="create-validation-summary text-danger"></div>

                    <div class="create-user-group">
                        <label asp-for="Name" class="create-label"></label>
                        <input asp-for="Name" class="create-input" />
                        <span asp-validation-for="Name" class="create-validation-message text-danger"></span>
                    </div>

                    <div class="create-user-group">
                        <label asp-for="Email" class="create-label"></label>
                        <input asp-for="Email" class="create-input" />
                        <span asp-validation-for="Email" class="create-validation-message text-danger"></span>
                    </div>

                    <div class="create-user-group">
                        <label asp-for="PhoneNumber" class="create-label"></label>
                        <input asp-for="PhoneNumber" class="create-input" />
                        <span asp-validation-for="PhoneNumber" class="create-validation-message text-danger"></span>
                    </div>

                    <div class="create-user-group">
                        <label asp-for="Password" class="create-label"></label>
                        <input asp-for="Password" class="create-input" type="password" />
                        <span asp-validation-for="Password" class="create-validation-message text-danger"></span>
                    </div>

                    <div class="create-submit-group">
                        <input type="submit" value="Create" class="create-submit-button" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



